<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwipeOverFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <div class="navbar">
        <a class="navbar-brand" href="{{url_for('home')}}">SwipeOverflow</a>
        <span class="nav-links">
            <a href="{{url_for('feed')}}">Feed</a>
            <a href="{{url_for('profile')}}">Profile</a>
            <a href="{{url_for('matches')}}">Matches</a>
        </span>
    </div>

    <div class="filter-options">
        <button class="filter-button active">All</button>
        <div class="dropdown">
            <select class="filter-button" name="hackathon" id="hackathon">
                <option selected disabled>Hackathon</option>
                <option value="hack1">VTHacks</option>
                <option value="hack2">HooHacks</option>
                <option value="hack3">Hoya Hacks</option>
            </select>
        </div>
        <button class="filter-button">Same Major</button>
        <button class="filter-button">Same Interests</button>
        <div class="dropdown">
            <select class="filter-button" name="team-size" id="team-size">
                <option selected disabled>Team Size</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
    </div>
    <div id="swiper" class="feed-container">
    </div>
    <script>
        // Pass the image URL to JavaScript
        const imageUrl = "{{ url_for('static', filename='high-res.png') }}";
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>