* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F18807;
    overflow-x: hidden;
}

#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 3rem;
}

a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.05rem;
    padding: 1rem;
}

#start {
    display: flex;
    flex-shrink: auto;
}

#start>a,
#start>a:hover {
    border-radius: 0.5rem;
    color: white;
}

#start>a {
    background-color: #F18807;
}

#start>a:hover {
    background-color: rgba(241, 136, 7, 0.74);
}

#body {
    height: 100vh;
    width: 100vw;
    background-image: url("new_banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 15vh;
    width: 15vw;
}

.responsive-button {
    padding: 1rem;
    background-color: #F18807;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    flex-shrink: 1;
    max-width: 300px;
    min-width: 150px;
}

.responsive-button:hover {
    background-color: rgba(241, 136, 7, 0.74);
}

@media (max-width: 600px) {
    .responsive-button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f9f9f9;
}

#logo img {
    height: 7rem;
}

div#footer>div#logo {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.05rem;
    align-items: center;
    gap: 0.5rem;
}

#footer>div {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 4rem;
    padding-bottom: 3rem;
    line-height: 2.5;
}

h3,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

li>a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    letter-spacing: 0.03rem;
    background-color: #F18807;
    color: white
}

