<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ logged_in_user['name'] }}!</h1>
    <h2>Filter Users:</h2>

    <form method="get" action="/">
        <label for="domain">Filter by Domains:</label>
        <select id="domain" name="domain">
            <option value="">All</option>
            <option value="Front-end">Front-end</option>
            <option value="Back-end">Back-end</option>
            <option value="Full-stack">Back-end</option>
        </select>
        <br>
        <label for="experience">Filter by Experience:</label>
        <select id="experience" name="experience">
            <option value="">All</option>
            <option value="First-Timer">First-Timer</option>
            <option value="Veteran">Veteran</option>
        </select>
        <br>
        <label for="team_size">Filter by Preferred Team Size:</label>
        <select id="team_size" name="team_size">
            <option value="">All</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <button type="submit">Filter</button>
    </form>

    <h2>Other Users:</h2>
    <ul>
        {% for user in users %}
            <br>
            <p><strong>Name:</strong> {{ user['name'] }}</p>
            <p><strong>Domain:</strong> {{ user.get('domain', 'N/A') }}</p>
            <p><strong>Experience:</strong> {{ user.get('experience', 'N/A') }}</p>
            <p><strong>Preferred Team Size:</strong> {{ user.get('prefteamsize', 'N/A') }}</p>
            <p><strong>Place to Stay:</strong> {{ user.get('placetostay', 'N/A') }}</p>
            <p><strong>Can Carpool:</strong> {{ user.get('cancarpool', 'N/A') }}</p>
            <p><strong>Origin:</strong> {{ user.get('origin', 'N/A') }}</p>
            <p><strong>Current Hack:</strong> {{ user.get('currhack', 'N/A') }}</p>
            <br>
        {% endfor %}
    </ul>
    <a href="/logout">
        <button>Log Out</button>
    </a>
</body>
</html>
